<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.springfromscratch.Alien" scope="prototype" autowire="byType">
        <property name="age" value="10"></property>
<!--        <property name="com" ref="laptop"></property>-->
    </bean>

    <bean id="laptop" class="org.springfromscratch.Laptop" scope="prototype" />
    <bean id="desktop" class="org.springfromscratch.Desktop" scope="prototype" primary="true" />
</beans>